@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Merienda', sans-serif;
  /* font-size: smaller; */
  /* background-color: #19a186;
  background-image: linear-gradient(315deg, #19a186 0%, #f2cf43 74%); */
  background-color: #FFFB7D;
background-image: linear-gradient(45deg, #FFFB7D 0%, #85FFBD 100%);
/* #2fb128
55443e */
/* background-color: #2fb128;
background-image: linear-gradient(315deg, #2fb128 20%, #55443e 75%); */
}
.toast {
  width: 40vw;
  text-align: center;
  max-width: 100%;
}

.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 2;
}
.banner {
  width: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  object-fit: cover;
}
.banner h1 {
  font-weight: 700;
  line-height: 2em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 2ms ease;
}
.banner small {
  font-size: 1em;
  color: black;
  font-weight: none;
}
.banner button {
  margin-top: 20px;
  border-radius: 50px;
  background-color: #4caf50;
  color: black;
}
.banner button:hover {
  transform: scale(1.2);
}
.banner .content1 {
  /* transform: translate(-50%); */
  border-radius: 10px;
  margin-left: 20px;
  font-size: 2vw;
  padding: 20px;
  text-align: justify;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  position: relative;
  z-index: 3;
}
.banner .content1:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.container-Support {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}
.wrapper {
  padding-top: 10px;
}
.container-Support .Support {
  width: 500px;
}
.iframe-rwd {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 10px;
  object-fit: cover;
}
/* qwl slider */

.slider .card {
  background:rgba(255, 255, 255, 0.5);
  
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
}

.card .content p {
  text-align: justify;
  margin: 10px 0;
}

.owl-nav {
  text-align: center;
}

.block {
  top:0;;
  right:0;
  z-index: 100;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
}
/* sdasd */
/* .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family:Arial, Helvetica, sans-serif;
  color:black;
  font-size: 20px;
}
p{
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
} */
/* footer{
  color: blck;
  margin: 0px;
  padding-top: 100px;
  background:rgba(255, 255, 255, 0.5);
  border-radius: 40% 40% 0px 0px;
  border: 2px solid black;
} */
@media (max-width: 600px) {
  .banner img {
    object-fit: fill;
    filter: blur(5px);
  }
}
